# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MinTIC2022\cajero-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
